* {
  font-family: sans-serif;
}
.main-content {
  display: grid;
  grid-template-columns: 300px 700px;
  min-height: 1000px;
  width: 90%;
}
.left-section {
  background-color: black;
}

.right-section {
  width: 90%;
  background-color: lightsalmon;
  grid-column: 2 / span 2;
}

.left-content {
  padding: 1rem;
}

.profile-image {
  margin: auto;
  border: 5px solid white;
  border-radius: 30%;
  width: 60%;
}

img {
  border-radius: 30%;
  width: 100%;
}

.name {
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.02px;
  text-transform: uppercase;
  padding: 0.8rem;
  color: white;
}

.designation {
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 0.5rem;
  color: lightgrey;
}

.description {
  color: whitesmoke;
  text-align: center;
  padding: 1rem 0rem;
}

.icon {
  color: white;
  padding: 1rem;
}

.contact-item {
  text-align: center;
}
.skills {
  color: lightcoral;
  text-align: center;
}

.progress-bar {
  border: 1px solid white;
  height: 4px;
}

.skill-name {
  font-size: 0.65rem;
  font-weight: 0.65rem;
  text-align: left;
  padding-bottom: 0.5rem;
  color: white;
}

.right-section {
  padding: 2rem 3rem;
}

.right-title {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.5rem;
  letter-spacing: 1px;
}

@media (max-width: 674px) {
  .main-content {
    grid-template-columns: repeat(1, 1fr);
    min-height: 1000px;
    width: 90%;
  }
  .right-section {
    grid-column: 1 / span 1;
  }
}
